.navbar {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(93,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
}

.nav-item {
    border-radius: 8px;
    transition: all 0.2s;
}

.nav-item a {
    color: white;
}

.nav-item:hover {
    background: lightgray;
    transition: all 0.2s;
}

div.card-header {
    background: rgba(93,9,121,1);
    color: white;
}

a {
    font-size: 1rem;
    color: rgb(46, 45, 45);
    &.btn-primary {
        background: rgba(93,9,121,1);
        color: white;
        outline: none;
        border: none;
        &:hover{
            background: rgb(75, 8, 97);
            color: white;
            outline: none;
            border: none;
        }
    }
    
}

div.links{
    margin-top: 6%;
    margin-bottom: 4%;
}

button.btn-primary{
    background: rgba(93,9,121,1);
    color: white;
    outline: none;
    border: none;
    margin-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    &:hover{
        background: rgb(141, 106, 153);
        color: white;
    }
}

svg {
    width: 25px;
}
